<!--Inclui a sidebar na página-->
<%- include("../sidebar") %>
    <!--Funções para os modais-->
    <script>
        function openModalInfo() {
            document.getElementById('modalInfo').classList.remove('hidden');
        }
        function closeModalInfo() {
            document.getElementById('modalInfo').classList.add('hidden');
        }
        function openModalCampos() {
            document.getElementById('modalCampos').classList.remove('hidden');
        }
        function closeModalCampos() {
            document.getElementById('modalCampos').classList.add('hidden');
        }
        function openModalConfirma() {
            document.getElementById('confirmacao').classList.remove('hidden');
        }
        function closeModalConfirma() {
            document.getElementById('confirmacao').classList.add('hidden');
        }
        function openConteudoCampos() {
            document.getElementById('conteudoCampos').classList.remove('hidden');
        }
        function closeConteudoCampos() {
            document.getElementById('conteudoCampos').classList.add('hidden');
        }
        function openConteudoInfo() {
            document.getElementById('conteudoInfo').classList.remove('hidden');
        }
        function closeConteudoInfo() {
            document.getElementById('conteudoInfo').classList.add('hidden');
        }
    </script>
    <style>
        .custom-submit {
            background-image: url('/public/assets/fav.svg');
            background-size: cover;
            width: 50px;
            height: 50px;
            border: none;
            cursor: pointer;
        }
    </style>

    <!--Conteúdo-->
    <section class="flex flex-col ml-24 pr-16 pt-8 items-center w-full overflow-y-hidden">
        <!-- header -->
        <header class="flex flex-row bg-colorDark-50 p-6 justify-evenly rounded-xl w-full">
            <img src="/public/assets/iconecredito.svg" />
            <div class="flex flex-col space-y-2 px-6">
                <div class="flex flex-row">
                    <h3 id="headerTitulo" class="text-white-50 text-xl font break-all">
                        <%= tabela[0].ID %>
                    </h3>

                    <form action="/tabelas_salvas/adicionar-pasta" method="post">
                        <input type="submit" value="" class="custom-submit">
                        <input type="hidden" name="id_pasta" value="<%= idPasta %>">
                        <input type="hidden" name="id_tabela" value="<%= tabela[0].ID %>">
                    </form>
                    <img src="/public/assets/stars.svg" alt="">

                </div>
                <p id="headerDescricao" class="text-white-50 text-[14px] text-clip leading-relaxed break-words">
                    <%= tabela[0].CONTEUDO_TABELA %>
                </p>
            </div>
            <div class="flex flex-col py-2 justify-between px-2 space-y-4">
                <button id="btnAcesso" class="border border-1 rounded-xl text-white-50 text-[14px] py-2 w-[12vw]">Solicitar acesso</button>
                <button id="btnReportar" onclick="openModalInfo()" class="rounded-xl bg-status-red text-white-50 text-[14px] py-2 w-[12vw]">Sugerir alterações</button>
            </div>
            
        </header>

        <!--Conteúdo de Informações da Tabela-->
        <section id="conteudoInfo" class="">
            <!--Botões-->
            <div class="flex flex-row pt-4 pb-4 w-full gap-4 justify-between">
                <div class="space-x-2">
                    <button id="btnInfo"
                        class="text-xl border-status-blue border-2 rounded-xl text-status-blue px-4 font-semibold shadow-neomorphic">Informações</button>
                    <button id="btnCampo"
                        class="text-xl border-colorDark-50 border-2 rounded-xl text-colorDark-50 px-4 font-semibold shadow-neomorphic"
                        onclick="closeConteudoInfo(), openConteudoCampos()">Campos</button>
                </div>


                <!--Avaliação Estrelas-->
                <div class="flex items-center">

                    <!--Definição de cada nível de avaliação-->
                    <div x-data="
                    {
                        rating: 0, 
                        hoverRating: 0,
                        ratings: [{'amount': 1, 'label':'Péssima'}, {'amount': 2, 'label':'Ruim'}, {'amount': 3, 'label':'Ok'}, {'amount': 4, 'label':'Boa'}, {'amount': 5, 'label':'Ótima'}],
                        rate(amount) {
                            if (this.rating == amount) {
                                this.rating = 0;
                            } else {
                                this.rating = amount;
                            }
                        },
                        currentLabel() {
                            let r = this.rating;
                            if (this.hoverRating != this.rating) r = this.hoverRating;
                            let i = this.ratings.findIndex(e => e.amount == r);
                            if (i >= 0) {
                                return this.ratings[i].label;
                            } else {
                                return '';
                            }
                        }
                    }
                " class="flex flex-col items-center justify-center space-y-2 rounded mx-auto">
                        <div class="flex items-center space-x-0">

                            <!--Label de acordo com a avaliação dada-->
                            <div class="p-2">
                                <template x-if="rating || hoverRating">
                                    <p x-text="currentLabel()"></p>
                                </template>
                                <template x-if="!rating && !hoverRating">
                                    <p>Avalie a tabela!</p>
                                </template>
                            </div>

                            <!--Mudança na cor e estado das estrelas-->
                            <template x-for="(star, index) in ratings" :key="index">
                                <button @click="rate(star.amount)" @mouseover="hoverRating = star.amount"
                                    @mouseleave="hoverRating = rating" aria-hidden="true" :title="star.label"
                                    class="rounded-sm text-gray-200 fill-current focus:outline-none focus:shadow-outline p-1 w-12 m-0 cursor-pointer"
                                    :class="{'text-blue-300': hoverRating >= star.amount, 'text-[#00C5FF]': rating >= star.amount && hoverRating >= star.amount}">
                                    <svg class="w-10 transition duration-150" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                    </svg>
                                </button>
                            </template>
                        </div>

                    </div>
                </div>

            </div>

            <!--Bloco de Detalhes-->
            <section
                class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Detalhes</h5>

                <!--Item 1-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Database</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].DATABASE %>
                    </p>
                </div>

                <!--Item 2-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">ID TABELA</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].ID_TABELA %>
                    </p>
                </div>

                <!--Item 3-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Caminho da tabela
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].CAMINHO %>
                    </p>
                </div>

                <!--Item 4-->
                <!--<div
                class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Ativo</h5>
                <p class="text-corTexto text-lg justify-self-center">
                    DB_PAN_DL_LEGACY.TB_INTERFACES_CLI_RCZ_HIST
                </p>
                </div>-->
            </section>

            <!--Bloco de Informações de Origem-->
            <section
                class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Informações na
                    Origem
                </h5>

                <!--Item 1-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Database da Origem
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].DATABASE_ORIGEM %>
                    </p>
                </div>

                <!--Item 2-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Schema da Origem</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].SCHEMA_ORIGEM %>
                    </p>
                </div>

                <!--Item 3-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Sistema da Origem
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].SISTEMA_ORIGEM %>
                    </p>
                </div>

                <!--Item 4-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Servidor da Origem
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].SERVIDOR_ORIGEM %>
                    </p>
                </div>

                <!--Item 5-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Frequência de
                        atualização
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].FREQUENCIA %>
                    </p>
                </div>

                <!--Item 6-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Defasagem</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].DEFASAGEM %>
                    </p>
                </div>

                <!--Item 7-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Data de criação</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].DataDeCriação %>
                    </p>
                </div>
            </section>

            <!--Bloco da Sustentação-->
            <section
                class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Sustentação</h5>

                <!--Item 1-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Engenheiro
                        responsável
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].ENG_INGESTAO %>
                    </p>
                </div>

                <!--Item 2-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Mecânica</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].MECANICA %>
                    </p>
                </div>
            </section>

            <!--Bloco de Responsável pelos dados-->
            <section
                class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Responsável pelos
                    dados
                </h5>

                <!--Item 1-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Conjunto de dados
                    </h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].CONJUNTODADOS_PRODUTO %>
                    </p>
                </div>

                <!--Item 2-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Owner</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].OWNER %>
                    </p>
                </div>

                <!--Item 3-->
                <div
                    class="grid grid-cols-3 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                    <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Steward</h5>
                    <p class="text-corTexto text-lg justify-self-center">
                        <%= tabela[0].STEWARD %>
                    </p>
                </div>
            </section>
        </section>

        <!--Conteúdo de campos da tabela-->
        <section id="conteudoCampos" class="hidden w-full">
            <!--Botões-->
            <div class="flex flex-row pt-4 pb-4 w-full gap-4 justify-between">
                <div class="space-x-2">
                    <button id="btnInfo"
                        class="text-xl border-colorDark-50 border-2 rounded-xl text-colorDark-50 px-4 font-semibold shadow-neomorphic"
                        onclick="openConteudoInfo(), closeConteudoCampos()">Informações</button>
                    <button id="btnCampo"
                        class="text-xl border-status-blue border-2 rounded-xl text-status-blue px-4 font-semibold shadow-neomorphic">Campos</button>
                </div>
                <img src="/public/assets/stars.svg" alt="">
            </div>

            <main>
                <!--Tabela Campos-->
                <div class="border border-cinza border-collapse w-full rounded-xl items-center px-5">

                    <!--Colunas Tabela-->
                    <div class="flex">
                        <div
                            class="flex flex-row text-[17px] bg-[#EBEBEB] shadow-neomorphic font-medium rounded-2xl mt-4 w-full text-center">
                            <div class="w-1/5 p-2">Índice</div>
                            <div class="w-1/5 p-2">Nome Campo</div>
                            <div class="w-1/5 p-2">Tipo Campo</div>
                            <div class="w-2/5 p-2">Descrição Campo</div>
                        </div>
                    </div>
                    <% console.log(tabela[0].NOME_CAMPO) %>
                        <% if(tabela[0].NOME_CAMPO !=null || tabela[0].TIPO_CAMPO !=null || tabela[0].DESCRICAO_CAMPO
                            !=null){for(let i=0; i < tabela.length ;i++) { %>
                            <div
                                class="flex flex-row w-full text-center border border-[#F2F2F2] rounded-2xl mb-4 mt-4 py-3 shadow-neomorphic items-center">
                                <div class="w-1/5 p-2">
                                    <%= i %>
                                </div>
                                <div class="w-1/5 p-2">
                                    <%= tabela[i].NOME_CAMPO %>
                                </div>
                                <div class="w-1/5 p-2">
                                    <%= tabela[i].TIPO_CAMPO %>
                                </div>
                                <div class="w-2/5 p-2 text-left flex flex-row gap-14">
                                    <p>
                                        <%= tabela[i].DESCRICAO_CAMPO %>
                                    </p>
                                </div>
                            </div>
                            <% }} else{ %>
                                <div
                                    class="flex flex-row w-full text-center border border-[#F2F2F2] rounded-2xl mb-4 mt-4 py-3 shadow-neomorphic items-center">
                                    <div class="w-full p-2">
                                        <h4 class="font-montserrat italic font-light text-xl leading-7 text-blue-900">
                                            Não tem Resultados!</h4>
                                    </div>
                                </div>
                                <% } %>
                </div>
            </main>
        </section>
    </section>


    <!--Popup de confirmação-->
    <div id="confirmacao" class="hidden flex items-center justify-center fixed w-full h-full bg-black bg-opacity-50">
        <div class="bg-white-50 rounded-lg mx-auto my-auto p-4 w-1/2 py-4">
            <div class="flex flex-col p-4 text-center">
                <p class="text-2xl font text-colorDark-50">Sua solicitação foi enviada!</p>
                <p class="text-colorDark-50 mt-4">Você pode acompanhar o status da sua solicitação na página Tickets
                </p>
            </div>
            <div class="flex flex-row justify-end">
                <div class="bg-colorDark-50 px-4 py-2 rounded-lg">
                    <span class="text-white-50 font-bold cursor-pointer" onclick="closeModalConfirma()">Entendi</span>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Info-->
    <div id="modalInfo" class="hidden bg-black bg-opacity-50 fixed w-[100%] h-[100%] flex items-center justify-center">
        <div
            class="flex flex-col bg-white-50 pt-4 pb-10 px-5 border border-1 rounded-xl  overflow-y-scroll h-[80%] w-[84%]">
            <header>
                <div class="flex flex-row justify-between">
                    <h3 class="text-[28px] font-bold rounded-2xl">Sugerir alterações em:</h3>
                    <a href="#">
                        <img src="/public/assets/fechar.svg" onclick="closeModalInfo()">
                    </a>
                </div>

                <!--Botões-->
                <div class="flex flex-row pt-8 pb-4 w-full gap-4">
                    <button id="btnInfo" href="#"
                        class="text-xl border-status-blue border-2 rounded-xl text-status-blue px-4 font-semibold shadow-neomorphic">Informações</button>
                    <button onclick="closeModalInfo(), openModalCampos()" id="btnCampo" href="#"
                        class="text-xl border-colorDark-50 border-2 rounded-xl text-colorDark-50 px-4 font-semibold shadow-neomorphic">Campos</button>
                </div>
            </header>

            <!--Conteúdo-->
            <main>
                <!--Bloco de detalhes-->
                <section
                    class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                    <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Detalhes</h5>

                    <!--Item 1-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Database</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">DB_PAN_DL_LEGACY</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 2-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Tipo do ativo
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">tabela</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 3-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Caminho da tabela
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">
                            s3://pan-dl-prd-legacy/interfaces/cli-rcz-hist/</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 4-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Ativo</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">
                            DB_PAN_DL_LEGACY.TB_INTERFACES_CLI_RCZ_HIST</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>
                </section>

                <!--Bloco de Informações de Origem-->
                <section
                    class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                    <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Informações na
                        Origem</h5>

                    <!--Item 1-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Database da
                            Origem</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">BI_ODS</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 2-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Schema da Origem
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2"> - </p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 3-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Sistema da Origem
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">SQL Server</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 4-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Servidor da
                            Origem</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">PANVDBP420D</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 5-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Frequência de
                            atualização
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">Diário</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 6-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Defasagem</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">D-30</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 7-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Data de criação
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">23 de janeiro de 2021
                        </p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>
                </section>

                <!--Bloco da Sustentação-->
                <section
                    class="flex flex-col items-center pt-4 pb-10 px-5 mb-10 w-full border border-1 border-cinza rounded-xl">
                    <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Sustentação
                    </h5>

                    <!--Item 1-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Engenheiro
                            responsável</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">-</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 2-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Mecânica</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">Automática</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>
                </section>

                <!--Bloco do Responsável pelos dados-->
                <section
                    class="flex flex-col items-center pt-4 pb-10 px-5 mb-7 w-full border border-1 border-cinza rounded-xl">
                    <h5 class="text-xl font-bold border-2 border-colorDark-50 rounded-2xl px-4 ">Responsável
                        pelos dados</h5>

                    <!--Item 1-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Conjunto de dados
                        </h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">Informações Estratégicas
                        </p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 2-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Owner</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">Rodolfo Cerezer</p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>

                    <!--Item 3-->
                    <div
                        class="grid grid-cols-4 border-1 border-white-50 mt-4 pl-4 py-2 w-full shadow-neomorphic rounded-2xl">
                        <h5 class="text-xl font-semibold text-colorDark-50 justify-self-start">Steward</h5>
                        <p class="text-corTexto text-lg justify-self-center col-span-2">Leonídio Amorim Fonseca
                        </p>
                        <a href="#" class="justify-self-end mr-6">
                            <img src="/public/assets/lapisEdicao.svg" />
                        </a>
                    </div>
                </section>
            </main>

            <!--Botão enviar-->
            <footer class="flex flex-row justify-end">
                <button onclick="openModalConfirma(), closeModalInfo()" href="#"
                    class="bg-status-green rounded-xl px-8 py-3 text-white-50 text-xl hover:bg-green-600">Enviar</button>
            </footer>
        </div>
    </div>


    <!--Modal Campos-->
    <div id="modalCampos"
        class=" hidden bg-black bg-opacity-50 fixed flex w-[100%] h-[100%] items-center justify-center">
        <div
            class="flex flex-col bg-white-50 pt-4 pb-10 px-5 border border-1 rounded-xl overflow-y-scroll h-[80%] w-[84%]">

            <!--Header-->
            <header>
                <div class="flex flex-row justify-between">
                    <h3 class="text-[28px] font-bold rounded-2xl">Sugerir alterações em:</h3>
                    <a href="#">
                        <img src="/public/assets/fechar.svg" onclick="closeModalCampos()">
                    </a>
                </div>

                <!--Botões-->
                <div class="flex flex-row pt-8 pb-12 w-full gap-4">
                    <button id="btnInfo" onclick="closeModalCampos(), openModalInfo()" href="#"
                        class="text-xl border-colorDark-50 border-2 rounded-xl text-colorDark-50 px-4 font-semibold shadow-neomorphic">Informações</button>
                    <button id="btnCampo" href="#"
                        class="text-xl border-status-blue border-2 rounded-xl text-status-blue px-4 font-semibold shadow-neomorphic">Campos</button>
                </div>
            </header>

            <!--Conteúdo-->
            <main>
                <!--Tabela Campos-->
                <div class="border border-cinza border-collapse w-full rounded-xl items-center px-5">

                    <!--Colunas Tabela-->
                    <div class="flex">
                        <div
                            class="flex flex-row text-[17px] bg-[#EBEBEB] shadow-neomorphicl font-medium rounded-2xl mt-4 w-full text-center">
                            <div class="w-1/5 p-2">Índice</div>
                            <div class="w-1/5 p-2">Nome Campo</div>
                            <div class="w-1/5 p-2">Tipo Campo</div>
                            <div class="w-2/5 p-2">Descrição Campo</div>
                        </div>
                    </div>

                    <!--Conteúdo 1-->
                    <% for(let i=0; i < tabela.length ;i++) { %>
                        <div
                            class="flex flex-row w-full text-center border border-[#F2F2F2] rounded-2xl mb-4 mt-4 py-3 shadow-neomorphic items-center">
                            <div class="w-1/5 p-2">
                                <%= i %>
                            </div>
                            <div class="w-1/5 p-2">
                                <%= tabela[i].NOME_CAMPO %>
                            </div>
                            <div class="w-1/5 p-2">
                                <%= tabela[i].TIPO_CAMPO %>
                            </div>
                            <div class="w-2/5 p-2 text-left flex flex-row gap-14">
                                <p>
                                    <%= tabela[i].DESCRICAO_CAMPO %>
                                </p>
                                <a href="#" class="self-end pr-5 my-auto">
                                    <img src="/public/assets/lapisEdicao.svg" />
                                </a>
                            </div>
                        </div>
                        <% } %>
                </div>
            </main>

            <!--Botão de enviar-->
            <div class="flex flex-row justify-end">
                <button onclick="openModalConfirma(), closeModalCampos()" href="#"
                    class="bg-status-green rounded-xl px-8 py-3 mt-7 text-white-50 text-xl hover:bg-green-600">Enviar</button>
            </div>
        </div>
    </div>

    </div>
    <%- include("../footer") %>

        </body>

        </html>