<!--Inclui a sidebar na página-->
<%- include("../sidebar") %>
    <!--Seção destinada a abrigar o conteúdo de toda a página-->
    <section class="flex flex-col ml-5 mt-4 pt-8 justify-center w-[90%]">
        <!-- header -->
        <header class="w-full flex flex-row border border-[#F2F2F2] shadow-neomorphic p-5 rounded-xl">
            <div class="flex flex-col w-full space-y-4">
                <div class="flex flex-row w-full justify-between">
                    <h3 id="headerTitulo" class="text-colorDark-50 text-3xl">Favoritos</h3>
                    <div class="flex justify-evenly">
                        <img class="px-1 w-[38px]" src="/public/assets/ajuda.svg" alt="">
                        <img class="px-1 w-[36px]" src="/public/assets/sino.svg" alt="">
                    </div>
                </div>
            </div>
        </header>

        <!--Div com todos os cards-->
        <div class="py-10 px-8 w-full h-full">
            <!--Loop for o qual percorre todos os resultados, mostrando de 3 em 3-->
            <% for(var i = 0; i < fav.length; i +=3) { %>
            <!--Div contendo uma coluna de Cards-->
            <div class="flex justify-center space-x-7 mb-6">

                <!--Card 1-->
                <div class="w-1/3 p-4 border rounded-xl shadow-neomorphic">
                    <div>
                        <!--Header do Card-->
                        <div class="px-3 hover:bg-primary bg-begeclaro rounded-2xl my-4">
                            <div class="flex justify-between">
                                <img src="/public/assets/iconCardFav.svg" alt="" class="w-10 h-10">
                                <h2 class="text-lg tracking-tight text-gray-900 dark:text-white mx-1 break-words w-9/12"><%= fav[i].ID %></h2>
                                <img src="/public/assets/fav_full.svg" alt="" class="w-5 h-5">
                            </div>
                        </div>

                        <div class="flex">
                            <!--Paragráfo do Card-->
                            <p class="space-x-10 font-extralight text-gray-500 dark:text-gray-400"><%= fav[i].CONTEUDO_TABELA %></p>
                        </div>
                        
                    </div>
                </div>
                
                <!--Verificação de caso o loop acabará em uma posição da resposta inexistente, assim parando o loop-->
                <% if((fav.length % 3) == 1  && i+2 >= fav.length) {break;} %>
                <!--Card 2-->
                <div class="w-1/3 p-4 border rounded-xl shadow-neomorphic">
                    <div>
                        <!--Header do Card-->
                        <div class="px-3 hover:bg-primary bg-begeclaro rounded-2xl my-4">
                            <div class="flex justify-between">
                                <img src="/public/assets/iconCardFav.svg" alt="" class="w-10 h-10">
                                <h2 class="text-lg tracking-tight text-gray-900 dark:text-white mx-1 break-words w-9/12"><%= fav[i+1].ID %></h2>
                                <img src="/public/assets/fav_full.svg" alt="" class="w-5 h-5">
                            </div>
                        </div>

                        <div class="flex">
                            <!--Paragráfo do Card-->
                            <p class="space-x-10 font-extralight text-gray-500 dark:text-gray-400"><%= fav[i+1].CONTEUDO_TABELA %></p>
                        </div>
                        
                    </div>
                </div>
                
                <!--Verificação de caso o loop acabará em uma posição da resposta inexistente, assim parando o loop-->
                <% if((fav.length % 3) == 2  && i+2 >= fav.length ){break;} %>
                <!--Card 3-->
                <div class="w-1/3 p-4 border rounded-xl shadow-neomorphic">
                    <div>
                        <!--Header do Card-->
                        <div class="px-3 hover:bg-primary bg-begeclaro rounded-2xl my-4">
                            <div class="flex justify-between">
                                <img src="/public/assets/iconCardFav.svg" alt="" class="w-10 h-10">
                                <h2 class="text-lg tracking-tight text-gray-900 dark:text-white mx-1 break-words w-9/12"><%= fav[i+2].ID %></h2>
                                <img src="/public/assets/fav_full.svg" alt="" class="w-5 h-5">
                            </div>
                        </div>

                        <div class="flex">
                            <!--Paragráfo do Card-->
                            <p class="space-x-10 font-extralight text-gray-500 dark:text-gray-400"><%= fav[i+2].CONTEUDO_TABELA %></p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </section>
    <%- include("../footer") %>
</body>
</html>