<%- include("../sidebar") %>
        <div class="flex-1">
            <header class="flex items-center p-4 text-semibold shadow-neomorphic mx-8 mt-8 rounded-lg">
                <div class="flex flex-row w-full">
                    <h3 id="headerTitulo" class="text-colorDark-50 text-2xl font w-10/12">Tickets</h3>
                    <div class="flex flex-row space-x-4 justify-end mr-6 w-2/12">
                        <img src="/public/assets/sino.svg" alt="Sino de notificações" class="w-6">
                        <img src="/public/assets/ajuda.svg" alt="Símbolo de Ajuda" class="w-6">
                    </div>
                </div>
            </header>

            <div class="flex flex-col px-8 w-full justify-center">
                <!--Content-->
                <section class="mt-8 p-8"><p class="text-3xl">Encontrou erros em alguma tabela?</p><br><p class="text-xl">Crie um ticket ou visualize abaixo os abertos ;)</p></section>
                <section class="flex flex-col items-center justify-center w-full">
                    <!-- Demarcadores da Tabela -->
                    <div class="rounded-lg shadow-neomorphic bg-white-50 my-4 w-full flex flex-row justify-around p-2"><b>Categoria</b><b>Nome</b><b>Tabela</b><b>Status</b></div>

                    <!-- Ticket será dividido em 3 colunas (ícone, info e status) -->
                    <% for (var tick in tickets) { %>
                    
                    <div class="rounded-lg shadow-neomorphic bg-white-50 my-4 w-full flex flex-row justify-around p-4">
                        <div class="w-1/4  flex items-center justify-center"><img src="/public/assets/iconecredito.svg"></div>
                        <div class="flex flex-col w-2/4 px-4">
                            <div class="flex flex-row justify-around">
                                <b>Ticket <%=tick.ID_TICKET%></b>
                                <p class="italic"><%= tick.ID_TABELA %></p>
                            </div>
                            <p class="my-2 break-all"><b>Descrição:</b> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque venenatis erat nulla, sit amet aliquam lectus bibendum eget. Fusce venenatis tempor augue nec commodo. Nulla facilisi.</p>
                        </div>
                        <div class="w-1/4 flex flex-col items-center justify-center">
                            <% if(tick.status == 1) { %>
                            <div class="bg-status-yellow h-10 p-2 text-center rounded-3xl px-4">
                                
                                <p class="text-white-50">Em Análise</p>
                                
                            </div>
                            <% } else if(tick.status == 2) { %>
                                <div class="bg-status-green h-10 p-2 text-center rounded-3xl px-4">
                                
                                    <p class="text-white-50">Analisado</p>
                                    
                                </div>
                            
                            <% } else if(tick.status == 0) { %>
                                <div class="bg-colorDark-50 h-10 p-2 text-center rounded-3xl px-4">
                                
                                    <p class="text-white-50">Abertos</p>
                                    
                                </div>
                            <% } %>
                            <p class="italic text-colorDark-50 text-xs mt-2">Solicitado em 20/04/23</p>
                        </div>
                    </div>
                    
                    <% } %>

                    <% for (var tick in tickets) { %>

                    <div class="rounded-lg shadow-neomorphic bg-white-50 my-4 w-full flex flex-row justify-around p-4">
                        <div class="w-1/4  flex items-center justify-center"><img src="/public/assets/iconecredito.svg"></div>
                        <div class="flex flex-col w-2/4 px-4">
                            <div class="flex flex-row justify-around">
                                <b>Ticket <%=tick.ID_TICKET%></b>
                                <p class="italic"><%= tick.ID_TABELA %></p>
                            </div>
                            <p class="my-2 break-all"><b>Descrição:</b> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque venenatis erat nulla, sit amet aliquam lectus bibendum eget. Fusce venenatis tempor augue nec commodo. Nulla facilisi.</p>
                        </div>
                        <div class="w-1/4 flex flex-col items-center justify-center">
                            <% if(tick.status == 1) { %>
                            <div class="bg-status-yellow h-10 p-2 text-center rounded-3xl px-4">
                                <p class="text-white-50">Em Análise</p>
                            </div>
                            <% } %>
                            <p class="italic text-colorDark-50 text-xs mt-2">Solicitado em 20/04/23</p>
                        </div>
                    </div>

                    <% } %>
                    <% for (var tick in tickets) { %>

                    <div class="rounded-lg shadow-neomorphic bg-white-50 my-4 w-full flex flex-row justify-around p-4">
                        <div class="w-1/4  flex items-center justify-center"><img src="/public/assets/iconecredito.svg"></div>
                        <div class="flex flex-col w-2/4 px-4">
                            <div class="flex flex-row justify-around">
                                <b>Ticket <%=tick.ID_TICKET%></b>
                                <p class="italic"><%= tick.ID_TABELA %></p>
                            </div>
                            <p class="my-2 break-all"><b>Descrição:</b> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque venenatis erat nulla, sit amet aliquam lectus bibendum eget. Fusce venenatis tempor augue nec commodo. Nulla facilisi.</p>
                        </div>
                        <div class="w-1/4 flex flex-col items-center justify-center">
                            <% if(tick.status == 1) { %>
                            <div class="bg-status-yellow h-10 p-2 text-center rounded-3xl px-4">
                                <p class="text-white-50">Em Análise</p>
                            </div>
                            <% } %>
                            <p class="italic text-colorDark-50 text-xs mt-2">Solicitado em 20/04/23</p>
                        </div>
                    </div>

                    <% } %>
                    
                </section>
                
            </div>
            <%- include("../footer") %>
        </div>
    </body>
    </html>  
    
